code {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: .2em;
}
pre {
    background: #eee;
    border: 1px solid #ccc;
    & > code {
        display: block;
        background: none;
        border: none;
        width: 100%;
    }
}