code, pre {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: .2em;

    line-height: 1.2;
}
pre > code {
    background: none;
    border: none;
    width: 100%;
}

.enhanced-code {
    position: relative;
    .actions {
        position: absolute;
        top: 5px;
        right: 20px;

        opacity: 0;
        transition: opacity .5s;
        pointer-events: none;
        a {
            float: right;
            display: block;
        }
        .copy {

        }
    }

    &:hover {
        .actions {
            pointer-events: auto;
            opacity: 1;
        }
    }
}