@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

@red: #e74c3c;
@darkerRed: #c0392b;

@primaryColor: @red;
@secondaryColor: @darkerRed;

@primaryTextColor: @primaryColor;
@secondaryTextColor: @secondaryColor;
@defaultTextColor: #333;

@navHeight: 3em;

@desktop: ~'(min-width: 960px)';

body {
    color: @defaultTextColor;
    background: #fcfcfc;
    font-family: 'Open Sans';
    font-size: 16px;
    padding-top: @navHeight;
}

a {
    cursor: pointer;
	text-decoration: none;
	color: @primaryTextColor;
}

.body {
    width: 90%;
    margin: 0 auto;
    @media @desktop {
        width: 800px;
    }
}

code {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: .2em;
}
pre > code {
    display: block;
}

.tec-logo-text {
    line-height: 1;
    padding: 0 .4em;
    position: relative;
    display: inline-block;
    &::before, &::after {
        position: absolute;
        top: -.05em;
    }
    &::before {
        content: '{';
        left: 0;
    }
    &::after {
        content: '}';
        right: 0;
    }
}

.posts {
    h2, small {
        color: @defaultTextColor;
    }
}

@import 'menu';
@import 'header';
@import 'post';
