@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

@import 'variables';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    color: @defaultTextColor;
    background: #fcfcfc;
    font-family: 'Open Sans';
    font-size: 16px;
}

a {
    cursor: pointer;
	text-decoration: none;
	color: @primaryTextColor;
}

.body {
    width: 90%;
    margin: 0 auto;
    @media @desktop {
        width: 800px;
    }
}

.posts {
    h2, small {
        color: @defaultTextColor;
    }
}

@import 'branding';
@import 'menu';
@import 'header';
@import 'code';
@import 'post';
